<p style="text-align:right"> 29/9/23 </p>
<center><img src="kicks.jpg">
<h1 style="text-align:center;color:#006400"> Universidad Castro Carazo </h1>
<h3 style="text-align:center;color:#8B0000"> Analisis de datos Automoviles</h3>
</br>
<p style="text-align:justify">Este notebook posee el analisis de datos de los vehiculos a la venta por parte de la empresa "Los Patitos Felices"
    los cuales estan agradecidos con toda su clientela.</p>
<p style="font-weight:bold; color: #4B0082">Pregunta para los clientes: Cuales son los carros mas llamativos este a√±o 2023?</p>
<p style="text-align:justify">Estas preguntas y sus respuestas las podemos verificar en el siguiente enlace web:</p>
<table>
    <tr>
        <td><img src="information.png"></td>
        <td><a href="https://archive.ics.uci.edu/dataset/10/automobile">Fuente de los datos</a></td>
    </tr>
    
</table>

<h2>1. Carga y estandarizacion de los set de datos</h2>

<p>Se realiza la carga de los set de datos para iniciar con la revision de la estructura general y de esta forma lograr crear un Dataframe donde se consoliden las diferentes fuentes identificadas</p>

<ol>
    <li>Importar las librerias necesarias.</li>
    <li>Importar los archivos CSV (Set de datos / Dataframe</li>
    <li>Revisar los encabezados de los Dataframe </li>
    <li>Generar el dataframe del proyecto</li>
</ol>

<h3> 1.1 Importar Librerias del proyecto</h3>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

<h4>1.2 Cargar los set de datos en memoria.</h4>

In [2]:
cols=["symboling","normalized","make","fuel","aspiration","doors","style","wheels","engine","base","length",
     "width","heingt","curb","enginetype","cylinders","engine-size", "system", "bore","stroke","compression",
     "horsepower", "peak","city","higway","price"]
dfAutos1=pd.read_csv("autos.csv",names=cols)
dfAutos2=pd.read_csv("Autos1.csv",names=cols)

In [3]:
dfAutos1.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [4]:
dfAutos1.tail(15)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,city,higway,price
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7775
183,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,7975
184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,52,4800,37,46,7995
185,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8195
186,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

dfAutos1.shape

dfAutos2.shape

In [5]:
dfAutos1.describe

<bound method NDFrame.describe of      symboling normalized         make    fuel aspiration doors        style  \
0            3          ?  alfa-romero     gas        std   two  convertible
1            3          ?  alfa-romero     gas        std   two  convertible
2            1          ?  alfa-romero     gas        std   two    hatchback
3            2        164         audi     gas        std  four        sedan
4            2        164         audi     gas        std  four        sedan
..         ...        ...          ...     ...        ...   ...          ...
192          0          ?   volkswagen  diesel      turbo  four        sedan
193          0          ?   volkswagen     gas        std  four        wagon
194         -2        103        volvo     gas        std  four        sedan
195         -1         74        volvo     gas        std  four        wagon
196         -2        103        volvo     gas        std  four        sedan

    wheels engine   base  ...  engine-size  system  bore  stroke compression  \
0      rwd  front   88.6  ...          130    mpfi  3.47    2.68         9.0
1      rwd  front   88.6  ...          130    mpfi  3.47    2.68         9.0
2      rwd  front   94.5  ...          152    mpfi  2.68    3.47         9.0
3      fwd  front   99.8  ...          109    mpfi  3.19    3.40        10.0
4      4wd  front   99.4  ...          136    mpfi  3.19    3.40         8.0
..     ...    ...    ...  ...          ...     ...   ...     ...         ...
192    fwd  front  100.4  ...           97     idi  3.01    3.40        23.0
193    fwd  front  100.4  ...          109    mpfi  3.19    3.40         9.0
194    rwd  front  104.3  ...          141    mpfi  3.78    3.15         9.5
195    rwd  front  104.3  ...          141    mpfi  3.78    3.15         9.5
196    rwd  front  104.3  ...          141    mpfi  3.78    3.15         9.5

    horsepower  peak city higway  price
0          111  5000   21     27  13495
1          111  5000   21     27  16500
2          154  5000   19     26  16500
3          102  5500   24     30  13950
4          115  5500   18     22  17450
..         ...   ...  ...    ...    ...
192         68  4500   33     38  13845
193         88  5500   25     31  12290
194        114  5400   23     28  12940
195        114  5400   23     28  13415
196        114  5400   24     28  15985

[197 rows x 26 columns]>

<h4>1.3 Revisar los encabezados del DataFrame </h4>

In [6]:
dfAutos1.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'enginetype', 'cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [7]:
dfAutos1.rename({"engine-size":"engineSize"},axis=1,inplace=True)
dfAutos2.rename({"engine-size":"engineSize"},axis=1,inplace=True)

In [8]:
dfAutos1.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'enginetype', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [9]:
dfAutos2.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'enginetype', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'city', 'higway',
       'price'],
      dtype='object')

In [10]:
dfAutos1.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    int64
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    object
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    float64
 13  curb         197 non-null    int64
 14  enginetype   197 non-null    object
 15  cylinders    197 non-null    object
 16  engineSize   197 non-null    int64
 17  system       197 non-null    object
 18  bore         197 non-null    object
 19  stroke       197 non-null    object
 20  compression  197 non-null    float64
 21  horsepower   197 non-null    object
 22  peak         197 non-null    object
 23  city         197 non-null    int64
 24  higway       197 non-null    int64
 25  price        197 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 40.1+ KB

<h4>1.4 Unir los DataFrame </h4>

In [11]:
unionArchivos=[dfAutos1, dfAutos2]
dfAutos=pd.concat(unionArchivos)
dfAutos.shape

(226, 26)

In [12]:
dfAutos.head()

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h2>2. Manejo de datos faltantes</h2>

<ol>
    <li>Identificar como se muestran los valores.</li>
    <li>Contar la cantidad de valores faltantes en el set de datos</li>
    <li>Inputacion de valores numericos </li>
    <li>Imputacion de valores caracter</li>
    <li>Eliminar filas</li>
</ol>

<h3> 2.1 Identificar los valores faltantes</h3>

In [13]:
dfAutos.replace("?",np.nan,inplace=True)
dfAutos.head(6)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

<h3> 2.2 Contar la cantidad de valores faltantes.</h3>

In [14]:
dfTemp=dfAutos.isnull()
dfTemp.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
for clumn in dfTemp.columns.values.tolist():
    print(clumn)
    print(dfTemp[clumn].value_counts())
    print("")

symboling
symboling
False    226
Name: count, dtype: int64

normalized
normalized
False    180
True      46
Name: count, dtype: int64

make
make
False    226
Name: count, dtype: int64

fuel
fuel
False    226
Name: count, dtype: int64

aspiration
aspiration
False    226
Name: count, dtype: int64

doors
doors
False    224
True       2
Name: count, dtype: int64

style
style
False    226
Name: count, dtype: int64

wheels
wheels
False    226
Name: count, dtype: int64

engine
engine
False    226
Name: count, dtype: int64

base
base
False    226
Name: count, dtype: int64

length
length
False    226
Name: count, dtype: int64

width
width
False    226
Name: count, dtype: int64

heingt
heingt
False    226
Name: count, dtype: int64

curb
curb
False    226
Name: count, dtype: int64

enginetype
enginetype
False    226
Name: count, dtype: int64

cylinders
cylinders
False    226
Name: count, dtype: int64

engineSize
engineSize
False    226
Name: count, dtype: int64

system
system
False    226
Name: count, dtype: int64

bore
bore
False    222
True       4
Name: count, dtype: int64

stroke
stroke
False    222
True       4
Name: count, dtype: int64

compression
compression
False    226
Name: count, dtype: int64

horsepower
horsepower
False    224
True       2
Name: count, dtype: int64

peak
peak
False    224
True       2
Name: count, dtype: int64

city
city
False    226
Name: count, dtype: int64

higway
higway
False    226
Name: count, dtype: int64

price
price
False    222
True       4
Name: count, dtype: int64

<h3> 2.3 Imputar valores numericos</h3>

In [16]:
avNormalized = dfAutos["normalized"].astype("float").mean(axis=0)
avPeak = dfAutos["peak"].astype("float").mean(axis=0)
avHorsepower = dfAutos["horsepower"].astype("float").mean(axis=0)
avBore = dfAutos["bore"].astype("float").mean(axis=0)
avStroke = dfAutos["stroke"].astype("float").mean(axis=0)

In [17]:
dfAutos["normalized"].replace(np.nan,avNormalized,inplace=True)
dfAutos["peak"].replace(np.nan,avPeak,inplace=True)
dfAutos["horsepower"].replace(np.nan,avHorsepower,inplace=True)
dfAutos["bore"].replace(np.nan,avBore,inplace=True)
dfAutos["stroke"].replace(np.nan,avStroke,inplace=True)

In [18]:
dfAutos.head (6)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122.283333,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.283333,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.283333,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,122.283333,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

<h3> 2.4 Imputar valores categoricos</h3>

In [19]:
dfAutos["doors"].value_counts().idxmax()

'four'

In [20]:
dfAutos["doors"].replace(np.nan,"four", inplace=True)

<h3> 2.5 Eliminar observaciones.</h3>

In [21]:
dfAutos.dropna(subset=["price"],axis=0, inplace=True)
dfAutos.reset_index(drop=True, inplace=True)

In [22]:
dfTemp=dfAutos.isnull()
for clumn in dfTemp.columns.values.tolist():
    print(clumn)
    print(dfTemp[clumn].value_counts())
    print("")

symboling
symboling
False    222
Name: count, dtype: int64

normalized
normalized
False    222
Name: count, dtype: int64

make
make
False    222
Name: count, dtype: int64

fuel
fuel
False    222
Name: count, dtype: int64

aspiration
aspiration
False    222
Name: count, dtype: int64

doors
doors
False    222
Name: count, dtype: int64

style
style
False    222
Name: count, dtype: int64

wheels
wheels
False    222
Name: count, dtype: int64

engine
engine
False    222
Name: count, dtype: int64

base
base
False    222
Name: count, dtype: int64

length
length
False    222
Name: count, dtype: int64

width
width
False    222
Name: count, dtype: int64

heingt
heingt
False    222
Name: count, dtype: int64

curb
curb
False    222
Name: count, dtype: int64

enginetype
enginetype
False    222
Name: count, dtype: int64

cylinders
cylinders
False    222
Name: count, dtype: int64

engineSize
engineSize
False    222
Name: count, dtype: int64

system
system
False    222
Name: count, dtype: int64

bore
bore
False    222
Name: count, dtype: int64

stroke
stroke
False    222
Name: count, dtype: int64

compression
compression
False    222
Name: count, dtype: int64

horsepower
horsepower
False    222
Name: count, dtype: int64

peak
peak
False    222
Name: count, dtype: int64

city
city
False    222
Name: count, dtype: int64

higway
higway
False    222
Name: count, dtype: int64

price
price
False    222
Name: count, dtype: int64

In [23]:
dfAutos.describe()

,symboling,base,length,width,heingt,curb,engineSize,compression,city,higway
count,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000
mean,0.909910,98.661261,174.064865,65.836036,53.766667,2540.418919,126.450450,10.323514,25.445946,30.990991
std,1.280198,5.648067,11.720591,1.970382,2.367974,494.544729,40.226562,4.179231,6.272417,6.701787
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,167.350000,64.200000,52.000000,2209.000000,98.000000,8.625000,20.250000,25.000000
50%,1.000000,97.250000,173.200000,65.500000,54.100000,2414.000000,115.000000,9.000000,25.000000,30.000000
75%,2.000000,102.300000,180.200000,66.500000,55.675000,2841.250000,146.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [24]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    222 non-null    int64
 1   normalized   222 non-null    object
 2   make         222 non-null    object
 3   fuel         222 non-null    object
 4   aspiration   222 non-null    object
 5   doors        222 non-null    object
 6   style        222 non-null    object
 7   wheels       222 non-null    object
 8   engine       222 non-null    object
 9   base         222 non-null    float64
 10  length       222 non-null    float64
 11  width        222 non-null    float64
 12  heingt       222 non-null    float64
 13  curb         222 non-null    int64
 14  enginetype   222 non-null    object
 15  cylinders    222 non-null    object
 16  engineSize   222 non-null    int64
 17  system       222 non-null    object
 18  bore         222 non-null    object
 19  stroke       222 non-null    object
 20  compression  222 non-null    float64
 21  horsepower   222 non-null    object
 22  peak         222 non-null    object
 23  city         222 non-null    int64
 24  higway       222 non-null    int64
 25  price        222 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 45.2+ KB

<h2>5. Estandarizacion de datos</h2>

<ol>
    <li>Verificar el dominio de la variable</li>
    <li>Convertir valores numericos, en funcion del dominio e interpretacion.</li>
    <li>Normalizar datos entre 0 y 1 </li>
    <li>Creacion de rangos de valores Binning</li>
</ol>

<h3> 5.1 Verificar el dominio de la variable</h3>

In [25]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    222 non-null    int64
 1   normalized   222 non-null    object
 2   make         222 non-null    object
 3   fuel         222 non-null    object
 4   aspiration   222 non-null    object
 5   doors        222 non-null    object
 6   style        222 non-null    object
 7   wheels       222 non-null    object
 8   engine       222 non-null    object
 9   base         222 non-null    float64
 10  length       222 non-null    float64
 11  width        222 non-null    float64
 12  heingt       222 non-null    float64
 13  curb         222 non-null    int64
 14  enginetype   222 non-null    object
 15  cylinders    222 non-null    object
 16  engineSize   222 non-null    int64
 17  system       222 non-null    object
 18  bore         222 non-null    object
 19  stroke       222 non-null    object
 20  compression  222 non-null    float64
 21  horsepower   222 non-null    object
 22  peak         222 non-null    object
 23  city         222 non-null    int64
 24  higway       222 non-null    int64
 25  price        222 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 45.2+ KB

In [26]:
dfAutos[["normalized"]]=dfAutos[["normalized"]].astype("int")
dfAutos[["price","horsepower"]]=dfAutos[["price","horsepower"]].astype("int")
dfAutos[["bore","stroke"]]=dfAutos[["bore","stroke"]].astype("float")

In [27]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    222 non-null    int64
 1   normalized   222 non-null    int32
 2   make         222 non-null    object
 3   fuel         222 non-null    object
 4   aspiration   222 non-null    object
 5   doors        222 non-null    object
 6   style        222 non-null    object
 7   wheels       222 non-null    object
 8   engine       222 non-null    object
 9   base         222 non-null    float64
 10  length       222 non-null    float64
 11  width        222 non-null    float64
 12  heingt       222 non-null    float64
 13  curb         222 non-null    int64
 14  enginetype   222 non-null    object
 15  cylinders    222 non-null    object
 16  engineSize   222 non-null    int64
 17  system       222 non-null    object
 18  bore         222 non-null    float64
 19  stroke       222 non-null    float64
 20  compression  222 non-null    float64
 21  horsepower   222 non-null    int32
 22  peak         222 non-null    object
 23  city         222 non-null    int64
 24  higway       222 non-null    int64
 25  price        222 non-null    int32
dtypes: float64(7), int32(3), int64(5), object(11)
memory usage: 42.6+ KB

In [28]:
dfAutos.describe()

,symboling,normalized,base,length,width,heingt,curb,engineSize,bore,stroke,compression,horsepower,city,higway,price
count,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000,222.000000
mean,0.909910,122.229730,98.661261,174.064865,65.836036,53.766667,2540.418919,126.450450,3.320125,3.280243,10.323514,102.180180,25.445946,30.990991,12780.941441
std,1.280198,33.651614,5.648067,11.720591,1.970382,2.367974,494.544729,40.226562,0.258977,0.305002,4.179231,36.334344,6.272417,6.701787,7530.446820
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,167.350000,64.200000,52.000000,2209.000000,98.000000,3.150000,3.150000,8.625000,70.000000,20.250000,25.000000,7898.000000
50%,1.000000,122.000000,97.250000,173.200000,65.500000,54.100000,2414.000000,115.000000,3.310000,3.350000,9.000000,95.000000,25.000000,30.000000,10221.500000
75%,2.000000,136.250000,102.300000,180.200000,66.500000,55.675000,2841.250000,146.000000,3.580000,3.447500,9.400000,116.000000,30.000000,34.000000,15628.750000
max,3.000000,256.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,49.000000,54.000000,45400.000000

In [29]:
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [30]:
dfAutos.to_excel("prueba.xlsx")

In [31]:
#dfTempo=dfAutos.loc[:,"normalized"]==65
#df_Tempo=dfAutos.loc[dfTempo]
#df_Tempo.head(5)
#df_Tempo.to_excel("prueba.xlsx")

<h3> 5.1 Convertir valores numericos en funcion del medio</h3>

In [32]:
dfAutos["cityL/100km(Calc)"]=235.21/dfAutos["city"]
dfAutos["higwayL/100km(Calc)"]=235.21/dfAutos["higway"]
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,bore,stroke,compression,horsepower,peak,city,higway,price,cityL/100km(Calc),higwayL/100km(Calc)
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495,11.200476,8.711481
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500,11.200476,8.711481
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,12.379474,9.046538
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,9.800417,7.840333
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,13.067222,10.691364

<h3> 5.3 Normalizar Valores entre 0 y 1</h3>

In [33]:
dfTemp=dfAutos[["length","heingt"]]
dfTemp.head()

   length  heingt
0   168.8    48.8
1   168.8    48.8
2   171.2    52.4
3   176.6    54.3
4   176.6    54.3

In [34]:
dfAutos["length(Norm)"]=dfAutos["length"]/dfAutos["length"].max()
dfAutos["heingt(Norm)"]=dfAutos["heingt"]/dfAutos["heingt"].max()
dfAutos.head(4)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,compression,horsepower,peak,city,higway,price,cityL/100km(Calc),higwayL/100km(Calc),length(Norm),heingt(Norm)
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,13495,11.200476,8.711481,0.811148,0.816054
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,16500,11.200476,8.711481,0.811148,0.816054
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,9.0,154,5000,19,26,16500,12.379474,9.046538,0.822681,0.876254
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,10.0,102,5500,24,30,13950,9.800417,7.840333,0.848630,0.908027

<h3> 5.5 Crear grupos o categorias (Binning)</h3>

In [35]:
dfTemp=dfAutos["horsepower"]
dfTemp.describe()

count    222.000000
mean     102.180180
std       36.334344
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      262.000000
Name: horsepower, dtype: float64

In [36]:
bins=np.linspace(48,262,4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [37]:
categorias =["Bajo", "Medio", "Alto"]
dfAutos["horsepower(Bins)"]=pd.cut(dfAutos["horsepower"],bins,labels=categorias,
                                   include_lowest=True)
dfTemp=dfAutos[["horsepower","horsepower(Bins)"]]
dfTemp.head()

   horsepower horsepower(Bins)
0         111             Bajo
1         111             Bajo
2         154            Medio
3         102             Bajo
4         115             Bajo

In [38]:
dfTemp.head(5)

   horsepower horsepower(Bins)
0         111             Bajo
1         111             Bajo
2         154            Medio
3         102             Bajo
4         115             Bajo

In [39]:
fig, ax = plt.subplots(1,1, figsize = (15,6.9), dpi=100)
 
# Datos a graficar
make = gf.index.tolist()
y_pos = np.arange(len(make))
 
cant = gf['symboling'].tolist()
 
# Arreglo de colores
barColors = ['#ebd07f','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5',
             '#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5','#e5e5e5',
             '#e5e5e5','#e5e5e5','#e5e5e5','#eb7f7f']
 
# Generacion del grafico
ax.barh(y_pos, cant, align='center', color = barColors)
ax.set_yticks(y_pos, labels=make)
ax.invert_yaxis()  # labels read top-to-bottom
#-----------------------------------------------------------------------------------------------------------------------------#
#-----------------------------CONFIGURACION DE LOS TITULOS, SUBTITULOS, EJES DEL GRAFICO--------------------------------------#
#-----------------------------------------------------------------------------------------------------------------------------#
#formato del titulo
 
title = "Grafico 1: Vehiculos en Inventario"
plt.suptitle(title,
            horizontalalignment = 'left',
            x = 0.001,
            y = 0.87,
            transform = fig.transFigure,
            fontsize = 20,
            fontweight = "bold",
            fontfamily = "serif")
 
#formato del subtitulo
stitle = "¬øCu√°l es la cantidad de datos seg√∫n fabricante?"
ax.set_title(stitle,
            horizontalalignment = 'left',
            x = 0.001,
            y = 0.80,
            transform = fig.transFigure,
            fontsize = 11,
            fontweight = "regular",
            fontfamily = "serif")
 
#formato del eje X
etiqueta = "Cantidad de vehiculos"
ax.set_xlabel(etiqueta,
             ha = 'left',
             fontsize = 10,
             fontweight = "regular",
             fontfamily = "serif")
 
#Configuracion de coordenadas de la etique del eje x
ax.xaxis.set_label_coords(x=0, y= -0.05, transform= ax.transAxes)
 
#configuracion del tamano
ax.tick_params(axis='both', 
               labelsize = 10)
 
#Congiruacion de la ubicacion del grafico
plt.subplots_adjust(top=0.80)
 
 
plt.show()

fig, ax = plt.subplots(1,1, figsize = (15,6.9), dpi=100)
 
n = 222
x = dfAutos['engineSize']
y = dfAutos['cityL/100km(Calc)']
 
ax.scatter(x, y, c='#eb7f7f', alpha=0.3, edgecolors='none')
ax.grid(True)
 
#-----------------------------------------------------------------------------------------------------------------------------#
#-----------------------------CONFIGURACION DE LOS TITULOS, SUBTITULOS, EJES DEL GRAFICO--------------------------------------#
#-----------------------------------------------------------------------------------------------------------------------------#
#formato del titulo
 
title = "Grafico 2: Vehiculos en Inventario"
plt.suptitle(title,
            horizontalalignment = 'left',
            x = 0.001,
            y = 0.87,
            transform = fig.transFigure,
            fontsize = 20,
            fontweight = "bold",
            fontfamily = "serif")
 
#formato del subtitulo
stitle = "¬øCu√°l es la relacion existente entre el tamano del motor y el consumo de combustible? "
ax.set_title(stitle,
            horizontalalignment = 'left',
            x = 0.001,
            y = 0.80,
            transform = fig.transFigure,
            fontsize = 11,
            fontweight = "regular",
            fontfamily = "serif")
 
#formato del eje X
etiqueta = "Tamano del motor"
ax.set_xlabel(etiqueta,
             ha = 'left',
             fontsize = 10,
             fontweight = "regular",
             fontfamily = "serif")
 
#formato del eje Y
etiqueta_y = "Consumo Gasolina en Ciudad"
ax.set_ylabel(etiqueta_y,
             ha = 'left',
             fontsize = 10,
             fontweight = "regular",
             fontfamily = "serif")
 
#Configuracion de coordenadas de la etique del eje x - y
ax.xaxis.set_label_coords(x=0, y= -0.08, transform= ax.transAxes)
ax.yaxis.set_label_coords(x=-0.03, y= 0.53, transform= ax.transAxes)
 
#configuracion del tamano
ax.tick_params(axis='both', 
               labelsize = 10)
 
#Congiruacion de la ubicacion del grafico
plt.subplots_adjust(top=0.78)
 
 
plt.show()
fabricante = dfAutos[dfAutos['make'] == "bmw"]
fabricante.head()  PARA SACAR UN DATO EXCATO DE SOLO UN DATO

SyntaxError: invalid syntax (4007878676.py, line 130)